<header>
  <div class="wlimit">
    <a href="/" class="title">
      <img src="/assets/images/logo.png" class="logo">
      <span class="text">The Almanor Atlas</span>
    </a>
    <div class="menu">
      <a *ngIf="user !== null" class="btn btn-outlined" routerLink="/add_location"
        matRipple matRippleColor="var(--clr-neutral-ripple)">Add Location</a>

      <a class="menu-item icon icon-small btn btn-icon"
        title="Shopping Spots" routerLink="/shopping"
        matRipple matRippleColor="var(--clr-neutral-ripple)">shopping_bag</a>
      <a class="menu-item icon icon-small btn btn-icon"
        title="Places to Grab Grub" routerLink="/food"
        matRipple matRippleColor="var(--clr-neutral-ripple)">restaurant_menu</a>
      <a class="menu-item icon icon-small btn btn-icon"
        title="Hot Fishing Spots" routerLink="/fishing"
        matRipple matRippleColor="var(--clr-neutral-ripple)">phishing</a>
    </div>
  </div>
</header>
