<header>
  <div class="wlimit">
    <a href="/" class="title">
      <img src="/assets/images/logo.png" class="logo">
      <span class="text">The Almanor Atlas</span>
    </a>
    <div class="menu">
      <a class="menu-item icon icon-small btn btn-icon"
        title="Popular Destinations" routerLink="/popular"
        matRipple matRippleColor="var(--clr-neutral-ripple)">whatshot</a>
      <a class="menu-item icon icon-small btn btn-icon"
        title="Places to Grab Grub" routerLink="/food"
        matRipple matRippleColor="var(--clr-neutral-ripple)">restaurant_menu</a>
      <a class="menu-item icon icon-small btn btn-icon"
        title="Hot Fishing Spots" routerLink="/fishing"
        matRipple matRippleColor="var(--clr-neutral-ripple)">phishing</a>
    </div>
  </div>
</header>
