<main class="bg-image">
  <div class="bg-mask"></div>
  <div class="wlimit">
    <section>
      <h2>Shopping</h2>
      <div class="row">
        <div class="card" *ngFor="let loc of hotSpots" [style]="{backgroundColor: loc.color && bgColorOf(loc.color)}">
          <img class="left" [src]="loc.image">
          <div class="right">
            <div class="info">
              <h3>{{loc.name}}</h3>
              <p>{{loc.description}}</p>
            </div>
            <span *ngIf="loc.address !== undefined" class="address">{{loc.address}}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
