@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
    --clr-accent: white;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #06522B;
    margin: 0;
    font-size: 1.5rem;
}

.wlimit {
    width: min(100%, 1440px);
    padding: 1rem;
}

header {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    font-size: 2rem;
}

.menu {
    background-color: #06522B;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.title {
    font-family: 'Lobster', cursive;
    white-space: nowrap;
    height: 100%;
    color: white;
    background-color: #097B40;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-inline: 1rem;
}

main {
    background-color: #ffffff;
    overflow-y: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.card:nth-child(even) {
    flex-direction: column-reverse;
}

@media screen and (max-width: 1000px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card:nth-child(even) {
        flex-direction: column;
    }

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    pointer-events: none;
    max-width: 360px;
}

.card > * {
    pointer-events: all;
}

.card > h2 {
    font-family: 'Carter One', cursive;
    text-align: center;
    width: 100%;
}

.card .image {
    border-radius: 24px;
    border: 2px solid hsl(0 0% 0% / 0.25);
    width: 100%;
    height: 360px;
}

footer {
    color: white;
    background-color: #06522B;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 1rem;
    flex-direction: column;
    font-family: sans-serif;
    gap: 1rem;
}

.links {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
