:host {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

app-masthead {
  flex-shrink: 0;
  z-index: 3;
}

main {
  display: flex;
  overflow: hidden;
  flex-shrink: 1;

  .content {
    position: relative;
    width: 100%;
  }
}

footer > .wlimit {
  color: hsl(0 0% 100% / 0.75);
  font-size: 1rem;
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  font-family: sans-serif;
  gap: 1rem;

  .v-divider-1 {
    height: unset;
    align-self: stretch;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}
