<div class="h-divider-1"></div>
<div class="summary">
  <div class="wlimit">
    <p>Welcome to The Almanor Atlas! Not sure what to see while you’re in Lake Almanor? We’ve got you covered! The purpose of this site is to introduce you to the various activities around the area. This isn’t an exhaustive list of what we have to offer, but it’ll be a convenient resource to help you get started!</p>
  </div>
</div>
<main class="bg-image">
  <div class="bg-mask"></div>
  <div class="wlimit">
    <section>
      <div class="cards">
        <a routerLink="/shopping" class="card">
          <h2>Shopping</h2>
          <img class="image" src="/assets/images/holiday.jpg">
        </a>
        <a routerLink="/food" class="card">
          <h2>Places to Grab Grub</h2>
          <img class="image" src="/assets/images/Burger.png">
        </a>
        <a routerLink="/fishing" class="card">
          <h2>Hot Fishing Spots</h2>
          <img class="image" src="/assets/images/Boat.png">
        </a>
      </div>
    </section>
  </div>
</main>
