<main>
  <div class="bg-mask"></div>
  <div class="wlimit">
    <div class="cards">
      <a href="/popular" class="card">
        <h2>Popular Destinations</h2>
        <div class="image" style="background-image: url('/assets/images/hiking.png');"></div>
      </a>
      <a href="/food" class="card">
        <h2>Places to Grab Grub</h2>
        <div class="image" style="background-image: url('/assets/images/Burger.png');"></div>
      </a>
      <a href="/fishing" class="card">
        <h2>Hot Fishing Spots</h2>
        <div class="image" style="background-image: url('/assets/images/Boat.png');"></div>
      </a>
    </div>
  </div>
</main>
