<main class="bg-image">
  <div class="bg-mask"></div>
  <div class="wlimit">
    <section>
      <div class="cards">
        <a href="/popular" class="card">
          <h2>Popular Destinations</h2>
          <img class="image" src="/assets/images/hiking.png">
        </a>
        <a href="/food" class="card">
          <h2>Places to Grab Grub</h2>
          <img class="image" src="/assets/images/Burger.png">
        </a>
        <a href="/fishing" class="card">
          <h2>Hot Fishing Spots</h2>
          <img class="image" src="/assets/images/Boat.png">
        </a>
      </div>
    </section>
  </div>
</main>
